.timeline{

}

.datetime{
    align-items: center;
    display: flex;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
}

.checkall{
    display: none;
}

.photos{
    display: flex;
    flex-wrap: wrap;
    .item:not(:last-child){
        margin-right: 4px;
        margin-bottom: 4px;
    }
}